# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build output
.next/
out/

# Dependency directories
.pnp/
.pnp.js

# Testing
coverage/
.nyc_output/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Miscellaneous
.DS_Store
*.log
*.lock

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Package manager specific files
package-lock.json
yarn.lock
pnpm-lock.yaml

# Ignore compiled TypeScript files
*.tsbuildinfo

# Ignore Storybook build artifacts (if used)
storybook-static/

# Next.js cache
.next/cache
